[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
django-localflavor = "*"
django-extensions = "*"
werkzeug = "*"
django-crispy-forms = "*"
django-debug-toolbar = "*"
django-phonenumber-field = "*"
phonenumbers = "*"

[dev-packages]
yapf = "*"
prospector = "*"
ipython = "*"

[requires]
python_version = "3.7"
