{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Lazy River Shelter - Adopt a Dog</title>
  <link rel="stylesheet" href="{% static "css/tachyons.min.css" %}">
  <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>

<body class="sans-serif">
  <header class="pv3 bg-navy white bb bw2 b--washed-green">
    <div class="flex justify-between items-center mw8 center">
      <h1 class="site-logo"><a class="white" href="/">Lazy River Shelter</a></h1>
      <nav class="main-menu">
        <ul class="main-menu__list list pl0 tr">          
          <li class="ph2 dib"><a class="nav-link white" href="{% url 'event_list' %}">Events</a></li>
          <li class="ph2 dib"><a class="nav-link white" href="/contact/">Contact Us</a></li>
          <li class="ph2 dib"><a class="white" href="{% url 'volunteer_application' %}">Volunteer</a></li>
          {% if request.user.is_authenticated %}
            <li class="ph2 dib">Logged in as {{ request.user }}</li>          
            <li class="ph2 dib"><a class="white" href="{% url "logout" %}">Logout</a></li>
          {% else %}
            <li class="ph2 dib"><a class="white" href="{% url "login" %}">Login</a></li>
            <li class="ph2 dib"><a class="white" href="{% url "register" %}">Register</a></li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </header>
  <div class="container mw8 center">
    {% block content %}{% endblock %}
  </div>  
</body>

</html>
